{% extends "::base.html.twig" %}

{% block page_content %}

    <nav class="collapse navbar-collapse" id="bs-navbar">

        <div class="container">

            <a class="navbar-brand" href="{{ path('homepage') }}">Kitty Online</a>
            <ul class="nav navbar-nav">
                <li><a href="#">Blackfire Tutorial</a></li>
                <li><a href="{{ path('kitty-list') }}">Kitties</a></li>
                <li><a href="{{ path('breed-list') }}">Breeds</a></li>
                <li><a href="{{ path('contact') }}">Contact the Kitties</a></li>
                <li><a href="{{ path('admin-home') }}">Admin</a></li>

                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li><a href="{{ path('fos_user_security_logout') }}">
                            Log Out
                        </a></li>
                {% endif %}

            </ul>
        </div>
    </nav>

    {% block body %}

    {% endblock %}

{% endblock %}