{% extends "::layout.html.twig" %}

    {% block body %}

        <div class="jumbotron">
            <div class="container">

                <div class="row">


                    <div class="col-lg-3">
                        <img class="img-thumbnail"
                             src="https://pbs.twimg.com/profile_images/672404074474573824/sJyMOznQ.jpg"
                             style="height: 270px;"/>
                    </div>

                    <div class="bs-callout bs-callout-info col-lg-9">
                        <h1>Kitty Online</h1>
                        <p>The internet's #1 resource for stats about cats</p>

                        <p><a role="button" href="#about-kitty-online" class="btn btn-primary btn-lg">Learn more »</a>
                        </p>
                    </div>
                </div>

            </div>
        </div>

        <div class="container marketing">

            <table class="table table-bordered table-striped">

                <thead>
                <tr>
                    <th>#</th>
                    <th>Kitty Name</th>
                    <th>Breed</th>
                    <th>Date Of Birth</th>
                    <th>Owner</th>
                    {#<th>Characteristics</th>#}
                </tr>
                </thead>

                <tbody>

                {% for kitty in kitties %}

                    <tr>
                        <td>{{ kitty.id }}</td>
                        <td><a href="{{ path('kitty-show', { slug: kitty.slug }) }}">{{ kitty.name }}</a></td>
                        <td><a href="{{ path('breed-show', { slug: kitty.breed.slug }) }}">{{ kitty.breed.name }}</a>
                        </td>
                        <td>{{ kitty.birthday|date("d-m-Y") }}</td>
                        <td>{{ kitty.owner.username }}</td>
                        {#<td>{{ breed.characteristics }}</td>#}
                    </tr>

                {% endfor %}

                </tbody>

            </table>
        </div>

    {% endblock %}
